.Form {
    margin: 30px;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
}


.MuiFormControl-root.Form-text {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 87%;
}

.MuiButton-contained.Form-btn {
    padding-left: 10px;
    padding-right: 10px;    

}

.MuiButton-contained.Form-btn > span{
    color: #555556;
}