.MuiBreadcrumbs-root.breadcrumbs > ol {
    justify-content: center;
}

.MuiBreadcrumbs-root.breadcrumbs > ol > li > a {
    color: #555556;
    text-decoration: none;
}

.MuiBreadcrumbs-root.breadcrumbs > ol > li > a:hover {
    color: rgba(34, 129, 207, 0.986);
}


.MuiSvgIcon-root.breadcrumbs-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}