.chat-list {
    min-width: 300px;
    border: solid 1px rgba(165, 208, 243, 0.986);
    border-radius: 10px;
   

}

.MuiListItem-root.chat {
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgba(165, 208, 243, 0.986);
    margin-bottom: 10px;
}
.MuiListItem-root.chat > a {
    text-decoration: none;          
}