body {
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  background-color: #edeaf3dc;
  padding: 15px;

}

.App-wrap {
  color: #555556;
  text-align: center;
}

.App-title {
  font-weight: normal;
}

.error, .loading {
  margin-top: 150px;
}

.App-main {
  display: flex;
  margin-top: 7px;
  min-height: 665px;
}

.App-messages {
  background-color:rgba(165, 208, 243, 0.986);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
}