body {
  margin: 0 auto;
}

.App-main {
  min-height: 100vh;
  background-color: #edeaf3dc;
  color: #562a8b;
  padding-top: 7px;
}

.App-main-title {
  text-align: center;
}

.App-list {
  display: flex;
}



.App-right {
  background-color:rgba(165, 208, 243, 0.986);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
}